#############
## MPLAB X ##
#############
**/build/
**/dist/
**/nbproject/private/
**/*.mk
**/*.properties
**/*.bash
#/Code/rSensorUS.X/nbproject/Makefile-default.mk
#/Code/rSensorUS.X/nbproject/Makefile-genesis.properties
#/Code/rSensorUS.X/nbproject/Makefile-impl.mk
#/Code/rSensorUS.X/nbproject/Makefile-local-default.mk
#/Code/rSensorUS.X/nbproject/Makefile-variables.mk
#/Code/rSensorUS.X/nbproject/Package-default.bash
#/Code/rSensorUS.X/nbproject/private/configurations.xml
